<div layout="row" ng-cloak class="full-height">

  <md-sidenav class="site-sidenav md-sidenav-left md-whiteframe-z2 md-accent"
              md-component-id="left"
              ng-click="toggleList()" aria-label="Show User List"
              md-is-locked-open="$mdMedia('gt-sm')">

    <md-toolbar class="md-whiteframe-z1">
      <h3>{{ "Menu" | translate }}</h3>
    </md-toolbar>

    <md-list>
      <md-list-item ng-repeat="menuItem in menu">
          <md-button ng-click="changeState(menuItem)" ng-class="{'selected' : menuItem.state === currentMenuItem.state }">
            <md-icon md-svg-icon="{{menuItem.icon}}" class="avatar"></md-icon>
            {{ menuItem.title | translate }}
          </md-button>
      </md-list-item>

      <!--md-list-item>
        <md-button ng-click="makeContact()">
          <md-icon md-svg-icon="contact" class="avatar"></md-icon>
          {{ "Contact" | translate }}
        </md-button>
      </md-list-item-->
    </md-list>



  </md-sidenav>

  <div flex layout="column" tabIndex="-1" role="main" class="md-whiteframe-z2">

    <md-toolbar layout="row" class="md-whiteframe-z1">
      <md-button id="main" class="menu" hide-gt-sm ng-click="toggleList()" aria-label="Show User List">
        <md-icon md-svg-icon="menu" ></md-icon>
      </md-button>
      <h3>{{ currentMenuItem.title | translate }}</h3>

      <div ng-translate-language-select></div>


    </md-toolbar>

    <md-content ui-view flex scroller id="content">
    </md-content>

  </div>

</div>
